* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  display: flex;
  flex-flow: row wrap;
  background: rgb(255, 217, 0);
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#title {
  display: flex;
  justify-content: center;
  width: 28rem;
}

#message {
  display: flex;
  justify-content: center;
}

.container {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 525px;
  width: 600px;
  margin: 50px;
  transform: rotate(-90deg);
}

.board {
  /* background: linear-gradient(cornflowerblue, rgb(184, 209, 255)); */
  background: linear-gradient(rgb(28, 105, 247), rgb(39, 109, 238));
  height: 512px;
  width: 585px;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
}

td {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  flex-wrap: column-wrap;
  position: relative;
  height: 80px;
  width: 80px;
  padding-left: 35px;
}

#displayP1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, red, rgb(255, 67, 67));
  color: white;
  margin: 1rem;
  border: 5px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: larger;
  font-weight: 500;
}

#displayP2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, black, rgb(92, 92, 92));
  color: white;
  margin: 1rem;
  border: 5px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: larger;
  font-weight: 500;
}

#reset-game {
  /* background: linear-gradient(rgb(255, 243, 5), rgb(227,214,4)); */
  background: linear-gradient(rgb(106, 215, 106), rgb(98, 182, 98));
  color: black;
  border: 0px solid transparent;
  padding: 1em;
  border-radius: .3rem;
  /* border-radius: 50%; */
  /* width: 100px; */
  /* height: 100px; */
  font-size: large;
  font-weight: 500;
}

.red-chip {
  background: linear-gradient(to top right, red, rgb(255, 67, 67));
  border: 5px solid white;
  transition: 0.1s;
}

.black-chip {
  background: linear-gradient(to top right, black, rgb(92, 92, 92));
  border: 5px solid white;
  transition: 0.1s;
}